<?xml version="1.0" encoding="utf-8" ?>

<!--
Escape character reminder:
Special character   escaped form    gets replaced by
Ampersand           &amp;           &
Less-than           &lt;            <
Greater-than        &gt;            >
Quotes              &quot;          "
Apostrophe          &apos;          '

For example, entering "C:\&amp;Unprocessed\" here in the config
gets replaced by "C:\&Unprocessed\" during runtime.
-->

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--These can all be either absolute or relative paths.-->
    <add key="BaseFolderPath" value=""/> 
    <add key="SourceFolderName" value="!Unprocessed" />
    <add key="DestinationFolderName" value="" />
    <add key="TempFolderName" value=".temp" />

    <add key="DeleteErrorLogs" value="true"/>
    
    <!-- Seeks and operates on the former, replaces with the latter. -->
    <add key="UnprocessedImageFlagString" value="☆"/>
    <add key="ProcessedImageFlagString" value="✨"/>

    <!-- Waifu 2x - Caffee information. -->
    <add key="Waifu2xCaffeDirectory" value="F:\Tools\Waifu2x - Caffe"/>
    <add key="ModelDirectory" value="models\cunet"/>
    <add key="Waifu2xExecutableName" value="waifu2x-caffe-cui.exe"/>
    <add key="ConversionMode" value="noise_scale"/>
    <add key="DenoiseLevel" value="3"/>
  </appSettings>
</configuration>