<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="SourceFolderName" value="\S&amp;R" />
    <add key="TempFolderName" value="\.temp" />
    <add key="Waifu2xCaffeDirectory" value="E:\Tools\Waifu2x - Caffe"/>
    <add key="ModelDirectory" value="\models\cunet"/>
    <add key="UnprocessedImageFlagChar" value="☆"/>
    <add key="ProcessedImageFlagChar" value="✨"/>
  </appSettings>
</configuration>