<?xml version="1.0" encoding="utf-8" ?>

<!-- Escape character reminder:
Special character   escaped form    gets replaced by
Ampersand           &amp;           &
Less-than           &lt;            <
Greater-than        &gt;            >
Quotes              &quot;          "
Apostrophe          &apos;          '
-->

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="BaseFolderName" value="E:\Projects\WEaBOO\WaifuEmbiggeningAndBatchOptimizationOperations\bin\x64\Release\"/>
    <add key="SourceFolderName" value="!Unprocessed" />
    <add key="DestinationFolderName" value="" />
    <add key="TempFolderName" value=".temp" />

    <add key="DeleteErrorLogs" value="true"/>

    <add key="UnprocessedImageFlagChar" value="☆"/>
    <add key="ProcessedImageFlagChar" value="✨"/>

    <add key="Waifu2xCaffeDirectory" value="E:\Tools\Waifu2x - Caffe"/>
    <add key="ModelDirectory" value="models\cunet"/>
    <add key="Waifu2xExecutableName" value="waifu2x-caffe-cui.exe"/>
    <add key="ConversionMode" value="noise_scale"/>
    <add key="DenoiseLevel" value="3"/>
  </appSettings>
</configuration>